site_name: Aeolira's Notes

theme:
  name: material
  language: zh
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - toc.follow
    - search.suggest
    - search.highlight

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex  # 添加 mathjax 支持数学公式渲染

plugins:
  - search
  - encryptcontent:
      title_prefix: "[LOCK] "
      summary: "此页面已加密。请输入口令解密。"
      placeholder: "输入口令（可用助记词）"
      decryption_failure_message: "口令不正确"
      password_inventory:
        private: !ENV [MKDOCS_ENCRYPT_PASSWORD, ""]

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML
1